let config = {
    PORT: 8003,
    PREFIX: '/project-api',
    TOKEN: {
        SECRET: '',
        MAX_DURATION: 1000 * 60 * 60 * 24 * 7,
        DURATION: 1000 * 60 * 60
    },
    MONGO: {
        USERNAME: '',
        PASSWORD: '',
        HOST: 'localhost',
        PORT: '27017',
        DATABASE: 'project_board'
    },
    INITIAL_USER: {
        USERNAME: 'admin',
        NAME: 'Administrator',
        PASSWORD: 'admin'
    },
    PAGINATION: {
        OFFSET_FIELD: 'offset',
        LIMIT_FIELD: 'limit',
        DEFAULT_LIMIT: 20
    },
    SORT: {
        FIELD: 'sort'
    },
    IMAGE: {
        TYPE: 'fs',     //'fs' or 'oss'
        UPLOAD_PATH: 'uploads/',
        FILEPATH: 'images/',
        OSS: {
            REGION: 'oss-cn-hangzhou',
            ACCESS_KEY_ID: '',
            ACCESS_KEY_SECRET: '',
            BUCKET: 'project-board',
            SIGN_TIMEOUT: 60 * 60 * 24
        },
        CONVERT: {
            AVATAR_SIZE: {width: 256, height: 256},
            COVER_SIZE: {width: 384, height: 192},
            PUBLIC_MAX_SIZE: {width: 1024, height: 1024}
        }
    }
}

export default config